@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-heart, .icon-star, .icon-user, .icon-ok, .icon-remove, .icon-home, .icon-refresh, .icon-repeat, .icon-locked, .icon-unlocked, .icon-qrcode, .icon-tag, .icon-tags, .icon-edit, .icon-map-marker, .icon-check, .icon-chevron-left, .icon-chevron-right, .icon-plus-sign, .icon-minus-sign, .icon-remove-sign, .icon-ok-sign, .icon-info-sign, .icon-question-sign, .icon-remove-circle, .icon-ok-circle, .icon-ban-circle, .icon-resize-full, .icon-resize-small, .icon-plus, .icon-minus, .icon-asterisk, .icon-chevron-up, .icon-chevron-down, .icon-twitter-sign, .icon-facebook-sign, .icon-comments, .icon-star-half, .icon-heart-empty, .icon-linkedin-sign, .icon-github-sign, .icon-phone, .icon-phone-sign, .icon-twitter, .icon-facebook, .icon-github, .icon-rss, .icon-link, .icon-reorder, .icon-pinterest, .icon-pinterest-sign, .icon-google-plus-sign, .icon-google-plus, .icon-caret-down, .icon-caret-up, .icon-caret-left, .icon-caret-right, .icon-envelope-alt, .icon-linkedin, .icon-undo, .icon-comments-alt, .icon-comment-alt, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-angle-left, .icon-github-alt, .icon-star-half-full, .icon-reply-all, .icon-info, .icon-html5, .icon-css3, .icon-ellipsis-horizontal, .icon-ellipsis-vertical, .icon-rss-sign, .icon-youtube-sign, .icon-youtube, .icon-flickr, .icon-tumblr, .icon-tumblr-sign, .icon-apple, .icon-windows, .icon-android, .icon-skype, .icon-female, .icon-male, .icon-mail, .icon-feather, .icon-leaf, .icon-air, .icon-voicemail, .icon-loop, .icon-history, .icon-flickr-2, .icon-flickr-3, .icon-vimeo, .icon-vimeo-2, .icon-dribbble, .icon-dribbble-2, .icon-stumbleupon, .icon-picasa, .icon-paypal, .icon-skype-2, .icon-linkedin-2, .icon-tumblr-2, .icon-pinterest-2, .icon-googleplus, .icon-facebook-2, .icon-twitter-2, .icon-lastfm, .icon-stumbleupon-2, .icon-rdio, .icon-vk, .icon-smashing, .icon-github-2, .icon-dot, .icon-dots, .icon-ellipsis, .icon-untitled, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up, .icon-quill, .icon-home-2, .icon-image, .icon-cart, .icon-calendar, .icon-clock, .icon-phone-hang-up, .icon-comment, .icon-random, .icon-barcode, .icon-signal, .icon-cog, .icon-edit-sign, .icon-stackexchange, .icon-quotes-left, .icon-busy, .icon-spinner, .icon-spinner-2, .icon-leaf-2, .icon-wordpress, .icon-wordpress-2, .icon-search, .icon-info-2, .icon-info-3, .icon-help, .icon-warning, .icon-graduation, .icon-cc-nd, .icon-home-3, .icon-copy, .icon-download, .icon-upload, .icon-qrcode-2, .icon-list, .icon-tags-2, .icon-tag-2, .icon-group, .icon-grid, .icon-list-2, .icon-list-3, .icon-grid-2, .icon-signin, .icon-mail-2, .icon-google-plus-2, .icon-facebook-3, .icon-twitter-3, .icon-feed, .icon-vimeo-3, .icon-flickr-4, .icon-dribbble-3, .icon-github-3, .icon-pinterest-3, .icon-retweet, .icon-fullscreen, .icon-reply, .icon-book, .icon-flag, .icon-mobile, .icon-tablet, .icon-laptop, .icon-desktop, .icon-stack, .icon-safari, .icon-opera, .icon-IE, .icon-firefox, .icon-chrome {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: relative;
	top:1px;
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-user:before {
	content: "\f007";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-home:before {
	content: "\f015";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-locked:before {
	content: "\e000";
}
.icon-unlocked:before {
	content: "\e001";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-edit:before {
	content: "\f044";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-check:before {
	content: "\f046";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-remove-circle:before {
	content: "\f05c";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-ban-circle:before {
	content: "\f05e";
}
.icon-resize-full:before {
	content: "\f065";
}
.icon-resize-small:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-twitter-sign:before {
	content: "\f081";
}
.icon-facebook-sign:before {
	content: "\f082";
}
.icon-comments:before {
	content: "\f086";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-empty:before {
	content: "\f08a";
}
.icon-linkedin-sign:before {
	content: "\f08c";
}
.icon-github-sign:before {
	content: "\f092";
}
.icon-phone:before {
	content: "\f095";
}
.icon-phone-sign:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-sign:before {
	content: "\f0d3";
}
.icon-google-plus-sign:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-comments-alt:before {
	content: "\f0e6";
}
.icon-comment-alt:before {
	content: "\f0e5";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-star-half-full:before {
	content: "\f123";
}
.icon-reply-all:before {
	content: "\f122";
}
.icon-info:before {
	content: "\f129";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-ellipsis-horizontal:before {
	content: "\f141";
}
.icon-ellipsis-vertical:before {
	content: "\f142";
}
.icon-rss-sign:before {
	content: "\f143";
}
.icon-youtube-sign:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-flickr:before {
	content: "\f16e";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-sign:before {
	content: "\f174";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-mail:before {
	content: "\e002";
}
.icon-feather:before {
	content: "\e003";
}
.icon-leaf:before {
	content: "\e004";
}
.icon-air:before {
	content: "\e005";
}
.icon-voicemail:before {
	content: "\e007";
}
.icon-loop:before {
	content: "\e008";
}
.icon-history:before {
	content: "\e009";
}
.icon-flickr-2:before {
	content: "\e00a";
}
.icon-flickr-3:before {
	content: "\e00b";
}
.icon-vimeo:before {
	content: "\e00c";
}
.icon-vimeo-2:before {
	content: "\e00d";
}
.icon-dribbble:before {
	content: "\e00e";
}
.icon-dribbble-2:before {
	content: "\e00f";
}
.icon-stumbleupon:before {
	content: "\e010";
}
.icon-picasa:before {
	content: "\e011";
}
.icon-paypal:before {
	content: "\e012";
}
.icon-skype-2:before {
	content: "\e013";
}
.icon-linkedin-2:before {
	content: "\e014";
}
.icon-tumblr-2:before {
	content: "\e015";
}
.icon-pinterest-2:before {
	content: "\e016";
}
.icon-googleplus:before {
	content: "\e017";
}
.icon-facebook-2:before {
	content: "\e018";
}
.icon-twitter-2:before {
	content: "\e019";
}
.icon-lastfm:before {
	content: "\e01a";
}
.icon-stumbleupon-2:before {
	content: "\e01b";
}
.icon-rdio:before {
	content: "\e01c";
}
.icon-vk:before {
	content: "\e01d";
}
.icon-smashing:before {
	content: "\e01e";
}
.icon-github-2:before {
	content: "\e01f";
}
.icon-dot:before {
	content: "\e020";
}
.icon-dots:before {
	content: "\e021";
}
.icon-ellipsis:before {
	content: "\e022";
}
.icon-untitled:before {
	content: "\e023";
}
.icon-arrow-left:before {
	content: "\e024";
}
.icon-arrow-down:before {
	content: "\e025";
}
.icon-arrow-up:before {
	content: "\e026";
}
.icon-quill:before {
	content: "\e027";
}
.icon-home-2:before {
	content: "\e028";
}
.icon-image:before {
	content: "\e029";
}
.icon-cart:before {
	content: "\e02a";
}
.icon-calendar:before {
	content: "\e02b";
}
.icon-clock:before {
	content: "\e02c";
}
.icon-phone-hang-up:before {
	content: "\e02d";
}
.icon-comment:before {
	content: "\f075";
}
.icon-random:before {
	content: "\f074";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog:before {
	content: "\f013";
}
.icon-edit-sign:before {
	content: "\f14b";
}
.icon-stackexchange:before {
	content: "\f16c";
}
.icon-quotes-left:before {
	content: "\e006";
}
.icon-busy:before {
	content: "\e02e";
}
.icon-spinner:before {
	content: "\e02f";
}
.icon-spinner-2:before {
	content: "\e030";
}
.icon-leaf-2:before {
	content: "\e031";
}
.icon-wordpress:before {
	content: "\e032";
}
.icon-wordpress-2:before {
	content: "\e033";
}
.icon-search:before {
	content: "\f002";
}
.icon-info-2:before {
	content: "\e036";
}
.icon-info-3:before {
	content: "\e037";
}
.icon-help:before {
	content: "\e038";
}
.icon-warning:before {
	content: "\e039";
}
.icon-graduation:before {
	content: "\e03a";
}
.icon-cc-nd:before {
	content: "\e03b";
}
.icon-home-3:before {
	content: "\e03c";
}
.icon-copy:before {
	content: "\e03d";
}
.icon-download:before {
	content: "\e03e";
}
.icon-upload:before {
	content: "\e03f";
}
.icon-qrcode-2:before {
	content: "\e040";
}
.icon-list:before {
	content: "\e041";
}
.icon-tags-2:before {
	content: "\e042";
}
.icon-tag-2:before {
	content: "\e043";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-grid:before {
	content: "\e044";
}
.icon-list-2:before {
	content: "\e045";
}
.icon-list-3:before {
	content: "\e046";
}
.icon-grid-2:before {
	content: "\e047";
}
.icon-signin:before {
	content: "\f090";
}
.icon-mail-2:before {
	content: "\e034";
}
.icon-google-plus-2:before {
	content: "\e035";
}
.icon-facebook-3:before {
	content: "\e048";
}
.icon-twitter-3:before {
	content: "\e049";
}
.icon-feed:before {
	content: "\e04a";
}
.icon-vimeo-3:before {
	content: "\e04b";
}
.icon-flickr-4:before {
	content: "\e04c";
}
.icon-dribbble-3:before {
	content: "\e04d";
}
.icon-github-3:before {
	content: "\e04e";
}
.icon-pinterest-3:before {
	content: "\e04f";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-fullscreen:before {
	content: "\f0b2";
}
.icon-reply:before {
	content: "\f112";
}
.icon-book:before {
	content: "\f02d";
}
.icon-flag:before {
	content: "\f024";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-stack:before {
	content: "\e050";
}
.icon-safari:before {
	content: "\e051";
}
.icon-opera:before {
	content: "\e052";
}
.icon-IE:before {
	content: "\e053";
}
.icon-firefox:before {
	content: "\e054";
}
.icon-chrome:before {
	content: "\e055";
}
