#main-header #brand-container #tagline { font-weight:none; }

#main-header #brand-container #tagline { font-size:23px; }
#main-header #brand-container #tagline { font-style:normal; }
#main-header #brand-container #tagline { font-weight:bold; }

#top-bar { background-image:url(no-image); }
#main-header #brand-container { background-image:url(no-image); }
.nav-wrap { background-image:url(no-image); }
header.page-header { background-image:url(no-image); }
